# ignore macOS stuff
.DS_Store

# ignore build output
*.o
*.a
bin/
lib/

# ignore CMake output
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
